{% load static %}
{% csrf_token %}
<html>
    <head>
        <title>Parking Manegement</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_update' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Parking Management</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% for post in posts %}
             <div class="post">
        <h1>{{ post.date }}</h1>
            </div>
               {% endfor %}
            </div>
        </div>
    </div>
    </body>
</html>